.App-header {
  min-height: 100vh;
  min-width: 100vw; /* 수정된 부분 */
  height: auto;
  justify-content: center;
}
/* App.css */
.navbar {
  background-color: lightblue;
}

.navbar-brand {
  color: white;
}

.nav-link.active {
  font-weight: bold;
}
